.row {
  text-align: center;
}

.page-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.title {
  font-size: 2.7rem; /* Adjust as necessary */
  margin-bottom: 10px;
  font-family: 'Helvetica', Arial, sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #d4cbc3;
  font-weight: bold;
}


/* CSS for the title-1 element */
.title-1 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #d4cbc3;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;

}

.title-1 h3 {
  font-size: 40px; /* Increase the font size */
  color: #d4cbc3;}

.title-1 small {
  font-size: 24px; /* Adjust the font size for the small text */
  color: #d4cbc3;  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;
  text-transform: bold;
}

.transition-gradient {
  height: 100px;
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}